
.container {
    height: 100vh;
    width: 100vw;
    background: white; 
    display: flex;
}
.container.black {
    background: black;
}
.card {
    padding: 100px;
    border-radius: 2px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.192);
    width: 100px;
    height: 100px;
}
.botao {
    display: relative;
    right: 10%;
    border-radius: 2px;
    height: 25px;

}
.botao2 {
    display: relative;
    right: 10%;
    border-radius: 2px;
    height: 25px;
    background: blue; 
}