@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');
body  {
    margin: 0;
}
.container {
    z-index: 2000;
    height: 100vh;
    width: 100vw;
    background: white; 
    display: flex;
    position: relative;
    margin: 0 auto;
    justify-content: center;
    transition-duration: 0.95s;
}
.container.black {
    background: rgb(73, 73, 73);
    
}

.card {
    padding: 10px;
    border-radius: 2px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.192);
    width: 70%;
    max-width: 300px;
    min-height: 20%;
    height: 40%;
    max-height: 200px;
    background: white;
    position: absolute;
    top: 40%;
    margin-top: -50px;
    transition-duration: 0.9s;
}
.card.black {
    background: rgb(73, 73, 73);
    color: white;
    
}
.botao {
    border-radius: 50%;
    height: 17px;
    width: 17px;
    top: 2.7%;
    cursor: pointer;
    background: white;
    display: absolute;
    position: absolute;
    right: 0.5px;
    outline: none;
    border: 1px black;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.123);
    transition-duration: 0.9s;
    
}
.botao.black {
    right: 17.2px; 
}
.scroll {
    background: rgb(50, 50, 255);
    height: 18px;
    width: 35px;
    top: px;
    border-radius: 12px;
    position: absolute;
    display: relative;
    right: 20px;
    transition-duration: 0.9s;
}
.scroll.black {
    background: white;
}

p {
    font-family: 'Montserrat', arial;
}

h1 {
    font-family: 'Montserrat', arial;
}
